/* reset */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

nav ol,
nav ul {
  list-style: none;
}

a:not([class]) {
  /* default styles */
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

[disabled] {
  cursor: not-allowed;
}

img,
video {
  max-width: 100%;
  display: block;
}

textarea {
  resize: vertical;
}

/* SVG fill falls back to text color */
svg:not([fill]) {
  fill: currentColor;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sr-only--focus:focus {
  position: static;
  width: auto;
  height: auto;
}

/* dispatched single taps w/o delay */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utils */

.relative {
  position: relative;
}

.pad-bottom {
  margin-bottom: 2rem !important;
}

.pad-bottom--large {
  margin-bottom: 3rem !important;
}

/* site styles */

.site-title {
  display: none;
}

.site-search-container {
  position: absolute;
  top: -50%;
  right: 4rem;
}

.site-content-container {
  height: calc(100vh - 360px);
  max-width: 980px;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #222;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .site-title {
    display: inline-block;
  }
}
